@page "/applications"
@using SlugEnt.DocumentServer.Db

@using Microsoft.EntityFrameworkCore
@using SlugEnt.DocumentServer.Models.Entities
@inject DocServerDbContext DB
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Applications</h1>

<RadzenButton ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Icon="label" Text="Add New" Click="@AddNew"/>

<div>
    <RadzenCheckBox @bind-Value="@SetIsActive" Name="cb1"/>
    <RadzenLabel Text="Show Inactive Applications" Component="cb1" Style="margin-left: 8px;"></RadzenLabel>
</div>


<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="25" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@_applications" TItem="Application" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value="@_selectedApplications">
    <Columns>
        <RadzenDataGridColumn TItem="Application" Property="Name" Title="Application Name" Filterable="false" Frozen="true" Width="55px" TextAlign="TextAlign.Left"/>
        <RadzenDataGridColumn TItem="Application" Property="CreatedAtUTC" Title="Created At" Frozen="true" Sortable="false" Filterable="false" Width="55px" TextAlign="TextAlign.Left"/>
        <RadzenDataGridColumn TItem="Application" Property="IsActive" Title="Active" Frozen="true" Width="18px">
            <Template>
                <RadzenCheckBox @bind-Value=@context.IsActive ReadOnly="true"></RadzenCheckBox>
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Width="100px" TItem="Application" Property="ID" Title="Application Actions">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="info" class="m-1" Click=@(() => OnDetails(data.Id)) Text="Details"/>
                <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="edit" class="m-1" Click=@(() => OnEdit(data.Id)) Text="Edit"/>
            </Template>
        </RadzenDataGridColumn>


    </Columns>
</RadzenDataGrid>


@code
{
    protected IEnumerable<Application> _applications = Enumerable.Empty<Application>();
    protected IList<Application>?      _selectedApplications;
    protected bool                     _showInActive;
    private   string                   _pageReferenceName = "applications";

    protected bool SetIsActive
    {
        get { return _showInActive; }
        set
        {
            _showInActive = value;
            LoadApplicationsAsync(_showInActive);
        }
    }

    protected Variant radDisplay = Variant.Outlined;


    protected override async Task OnInitializedAsync()
    {
        await LoadApplicationsAsync();

        await base.OnInitializedAsync();
    }


    public async Task ShowInactive(bool value) { await LoadApplicationsAsync(_showInActive); }



    public async Task LoadApplicationsAsync(bool showInActive = false)
    {
        if (!showInActive)
            _applications = DB.Applications.Where(sn => sn.IsActive == true).ToList();
        else
            _applications = DB.Applications.Where(sn => sn.IsActive == false).ToList();
    }


    protected void AddNew() { NavigationManager.NavigateTo(_pageReferenceName + "/crud/C"); }


    protected void OnEdit(int Id) { NavigationManager.NavigateTo("applications/CRUD/E/" + Id); }
    protected void OnDetails(int Id) { }
}