@page "/rootobjects"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject SlugEnt.DocumentServer.Db.DocServerDbContext DB
@using SlugEnt.DocumentServer.Models.Entities

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="rootobjects/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.RootObjects">
    <PropertyColumn Property="rootobject => rootobject.Name" />
    <PropertyColumn Property="rootobject => rootobject.Description" />
    <PropertyColumn Property="rootobject => rootobject.ApplicationId" />

    <TemplateColumn Context="rootobject">
        <a href="@($"rootobjects/edit?id={rootobject.Id}")">Edit</a> |
        <a href="@($"rootobjects/details?id={rootobject.Id}")">Details</a> |
        <a href="@($"rootobjects/delete?id={rootobject.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
